.app-bar {
}

.header {
  position: fixed;
  top: 0;
  height: 70px;
  width: calc(100% - 250px);
  left: 250px;
  background: #f0f4c3;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  min-width: 250px;
  box-shadow: 0px 3px 10px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background: #f1f8e9;
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background: #f0f4c3;
}

.logo {
  width: 50px;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 5px 20px;
}

.link {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 2.66;
  letter-spacing: 0.08333em;
  text-transform: uppercase;
  color: #1976d2;
  text-decoration: none;
}

.link--active {
  color: #0d47a1;
}
